/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 Ian Mucheru
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /*** Colors ***/
  --scrim: #000000;

  /** Light **/
  --light-background: #fafdfc;
  --light-on-background: #191c1c;
  --light-surface: #f7faf9;
  --light-on-surface: #191c1c;
  --light-surface-variant: #dae5e3;
  --light-on-surface-variant: #3f4948;
  --light-surface-container-high: #e6e9e8;
  --light-surface-container-highest: #e0e3e2;
  --light-surface-container: #eceeed;
  --light-outline: #6f7978;
  --light-outline-variant: #bec9c7;
  --light-primary: #006a67;
  --light-on-primary: #ffffff;
  --light-primary-container: #6ff7f2;
  --light-on-primary-container: #00201f;
  --light-secondary: #845400;
  --light-on-secondary: #ffffff;
  --light-secondary-container: #ffddb5;
  --light-on-secondary-container: #2a1800;
  --light-tertiary: #a93538;
  --light-on-tertiary: #ffffff;
  --light-tertiary-container: #ffdad8;
  --light-on-tertiary-container: #410006;
  --light-error: #ba1a1a;
  --light-on-error: #ffffff;
  --light-error-container: #ffdad6;
  --light-on-error-container: #410002;
  --light-inverse-surface: #2d3131;
  --light-inverse-on-surface: #eff1f0;
  --light-inverse-primary: #4edad5;

  /** Dark **/
  --dark-background: #191c1c;
  --dark-on-background: #e0e3e2;
  --dark-surface: #101414;
  --dark-on-surface: #c4c7c6;
  --dark-surface-variant: #3f4948;
  --dark-on-surface-variant: #bec9c7;
  --dark-surface-container-high: #272b2a;
  --dark-surface-container-highest: #323535;
  --dark-surface-container: #1d2020;
  --dark-outline: #889392;
  --dark-outline-variant: #3f4948;
  --dark-primary: #4edad5;
  --dark-on-primary: #003735;
  --dark-primary-container: #00504e;
  --dark-on-primary-container: #6ff7f2;
  --dark-secondary: #ffb958;
  --dark-on-secondary: #462b00;
  --dark-secondary-container: #643f00;
  --dark-on-secondary-container: #ffddb5;
  --dark-tertiary: #ffb3b0;
  --dark-on-tertiary: #68000f;
  --dark-tertiary-container: #891c23;
  --dark-on-tertiary-container: #ffdad8;
  --dark-error: #ffb4ab;
  --dark-on-error: #690005;
  --dark-error-container: #93000a;
  --dark-on-error-container: #ffdad6;
  --dark-inverse-surface: #e0e3e2;
  --dark-inverse-on-surface: #191c1c;
  --dark-inverse-primary: #006a67;

  /*** Typography ***/
  /** Font Family **/
  --ff-primary: "Work Sans", sans-serif;

  /** Font Size **/
  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;

  /** Font Weight **/
  --weight-regular: 400;
  --weight-medium: 500;

  /*** Border Radius ***/
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-large-end: 0 16px 16px 0;
  --radius-extra-large: 28px;
  --radius-circle: 50%;
  --radius-full: 500px;

  /*** Elevation ***/
  --elevation-1: 0 1px 2px hsla(0, 0%, 0%, 0.3),
    0 1px 3px 1px hsla(0, 0%, 0%, 0.15);
  --elevation-2: 0 1px 2px hsla(0, 0%, 0%, 0.3),
    0 2px 6px 2px hsla(0, 0%, 0%, 0.15);

  /*** Others ***/
  --top-app-bar-height: 64px;

  /*** Transition ***/
  /** Duration **/
  --motion-duration-short-1: 100ms;
  --motion-duration-short-2: 200ms;
  --motion-duration-medium-1: 250ms;
  --motion-duration-medium-2: 400ms;
  --motion-duration-long: 500ms;

  /** Easing **/
  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motiion: no-preferences) {
  :root {
    /*** Transition ***/
    /** Duration **/
    --motion-duration-short-1: 100ms;
    --motion-duration-short-2: 200ms;
    --motion-duration-medium-1: 250ms;
    --motion-duration-medium-2: 400ms;
    --motion-duration-long: 500ms;

    /** Easing **/
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

[data-theme="light"] {
  color-scheme: light;

  --background: var(--light-background);
  --on-background: var(--light-on-background);
  --surface: var(--light-surface);
  --on-surface: var(--light-on-surface);
  --surface-variant: var(--light-surface-variant);
  --on-surface-variant: var(--light-on-surface-variant);
  --surface-container-high: var(--light-surface-container-high);
  --surface-container-highest: var(--light-surfacr-container-high);
  --surface-container: var(--light-surface-container);
  --outline: var(--light-outline);
  --outline-variant: var(--light-outline-variant);
  --primary: var(--light-primary);
  --on-primary: var(--light-on-primary);
  --primary-container: var(--light-primary-container);
  --on-primary-container: var(--light-on-primary-container);
  --secondary: var(--light-secondary);
  --on-secondary: var(--light-on-secondary);
  --secondary-container: var(--light-secondary-container);
  --on-secondary-container: var(--light-on-secondary-container);
  --tertiary: var(--light-tertiary);
  --on-tertiary: var(--light-on-tertiary);
  --tertiary-container: var(--light-tertiary-container);
  --on-tertiary-container: var(--light-on-tertiary-container);
  --error: var(--light-error);
  --on-error: var(--light-on-error);
  --error-container: var(--light-error-container);
  --on-error-container: var(--light-on-error-container);
  --inverse-surface: var(--light-inverse-surface);
  --inverse-on-surface: var(--light-inverse-on-surfacesurface);
  --inverse-primary: var(--light-primary);
}

[data-theme="dark"] {
  color-scheme: dark;

  --background: var(--dark-background);
  --on-background: var(--dark-on-background);
  --surface: var(--dark-surface);
  --on-surface: var(--dark-on-surface);
  --surface-variant: var(--dark-surface-variant);
  --on-surface-variant: var(--dark-on-surface-variant);
  --surface-container-high: var(--dark-surface-container-high);
  --surface-container-highest: var(--dark-surfacr-container-high);
  --surface-container: var(--dark-surface-container);
  --outline: var(--dark-outline);
  --outline-variant: var(--dark-outline-variant);
  --primary: var(--dark-primary);
  --on-primary: var(--dark-on-primary);
  --primary-container: var(--dark-primary-container);
  --on-primary-container: var(--dark-on-primary-container);
  --secondary: var(--dark-secondary);
  --on-secondary: var(--dark-on-secondary);
  --secondary-container: var(--dark-secondary-container);
  --on-secondary-container: var(--dark-on-secondary-container);
  --tertiary: var(--dark-tertiary);
  --on-tertiary: var(--dark-on-tertiary);
  --tertiary-container: var(--dark-tertiary-container);
  --on-tertiary-container: var(--dark-on-tertiary-container);
  --error: var(--dark-error);
  --on-error: var(--dark-on-error);
  --error-container: var(--dark-error-container);
  --on-error-container: var(--dark-on-error-container);
  --inverse-surface: var(--dark-inverse-surface);
  --inverse-on-surface: var(--dark-inverse-on-surfacesurface);
  --inverse-primary: var(--dark-primary);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
video,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-hightlight-color: transparent;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 300vh;
  transition: opacity var(--motion-duration-medium-2)
    var(--motion-easing-linear);
  /* opacity: 0; */
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/
.display__large {
  font-size: var(--fs-display-large);
  font-weight: var(--weight-regular);
  line-height: 64px;
}

.display__medium {
  font-size: var(--fs-display-medium);
  font-weight: var(--weight-regular);
  line-height: 52px;
}

.display__small {
  font-size: var(--fs-display-small);
  font-weight: var(--weight-regular);
  line-height: 44px;
}

.headline__large {
  font-size: var(--fs-headline-large);
  font-weight: var(--weight-regular);
  line-height: 40px;
}

.headline__medium {
  font-size: var(--fs-headline-medium);
  font-weight: var(--weight-regular);
  line-height: 36px;
}

.headline__small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: 32px;
}

.title__large {
  font-size: var(--fs-title-large);
  font-weight: var(--weight-regular);
  line-height: 28px;
}

.title__medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
}

.title__small {
  font-size: var(--fs-title-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label__large {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label__medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label__small {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.body__large {
  font-size: var(--fs-body-large);
  font-weight: var(--weight-regular);
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body__medium {
  font-size: var(--fs-body-medium);
  font-weight: var(--weight-regular);
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body__small {
  font-size: var(--fs-body-small);
  font-weight: var(--weight-regular);
  line-height: 16px;
  letter-spacing: 0.4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.material-symbols-outlined {
  display: block;
  width: 1em;
  height: 1em;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:has(> .state__layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ripple,
.state__layer {
  background-color: var(--state-layer-bg);
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.state__layer {
  border-radius: inherit;
  inset: 0;
  opacity: 0;
  transition: var(--motion-duration-short-2) var(--motion-easing-linear);
}

:has(> .state__layer):hover > .state__layer {
  opacity: 0.08;
}

:has(> .state__layer):is(:focus, :focus-visible, :active) > .state__layer {
  opacity: 0.12;
}

.ripple {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center;
  border-radius: var(--radius-circle);
  opacity: 0.12;
  animation: ripple 800ms var(--motion-easing-standard) forwards;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2.5);
  }
}

/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/** Icon button **/
.icon__btn {
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
  position: relative;
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  overflow: hidden;
}

.icon__btn > .state__layer {
  inset: 4px;
}

.icon__btn > .ripple {
  width: 40px;
  height: 40px;
  animation: icon-button-ripple 200ms var(--motion-easing-standard) forwards;
}

@keyframes icon-button-ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/** Split btn **/

/** Search view **/
.search__view {
  background-color: var(--surface-container-high);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: var(--motion-duration-short-2) var(--motion-easing-standard);
  transition-property: opacity, visibility;
}

.search__view.active {
  opacity: 1;
  visibility: visible;
}

.input__wrapper .leading__icon {
  display: none;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4px;
  height: 72px;
  border-block-end: 1px solid var(--outline);
}

.search__bar .icon__btn {
  flex-shrink: 0;
}

.search__bar .input__wrapper,
.search__bar .input__field {
  height: 100%;
}

.search__bar .input__wrapper {
  flex-grow: 1;
}

.search__bar .input__wrapper:has(:placeholder-shown) + .icon__btn {
  display: none;
}

.search__bar .input__field {
  color: var(--on-surface);
}

.search__bar .input__field::placeholder {
  color: var(--on-surface-variant);
}

.search__bar .input__field::-webkit-search-cancel-button {
  display: none;
}

.search__bar .search__btn {
  --state-layer-bg: var(--primary);
  color: var(--primary);
}

.search__view-content .btn__group {
  margin: 16px;
}

/** Segment button **/
.btn__group {
  display: flex;
  border: 1px solid var(--outline);
  border-radius: var(--radius-full);
  overflow: hidden;
}

.btn__group .btn__segment {
  color: var(--on-surface);
  --state-layer-bg: var(--on-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 12px;
  height: 40px;
  flex-grow: 1;
}

.btn__group .btn__segment:not(:last-child) {
  border-inline-end: 1px solid var(--outline);
}

.btn__group .btn__segment .material-symbols-outlined {
  font-size: 1.8rem;
}

.btn__group .btn__segment.selected {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container);
}

/** List **/
.search__view-content .list {
  padding-block: 8px;
}

.list .list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px 24px;
  padding-block: 8px;
  height: 48px;
  width: 100%;
  --state-layer-bg: var(--on-surface);
}

.list__item .leading__icon {
  font-size: 1.8rem;
  color: var(--on-surface-variant);
}

.list__item .text {
  color: var(--on-surface);
}

/** Navigation **/

/** Button **/

/** Card **/

/** Menu **/

/** Filter chip **/

/*-----------------------------------*\
  #TOP APP BAR
\*-----------------------------------*/
.top__app-bar {
  background-color: var(--surface);
  display: flex;
  align-items: center;
  padding-inline: 4px;
  height: var(--top-app-bar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  transition: background-color var(--motion-duration-short-2)
    var(--motion-easing-linear);
}

.top__app-bar.active {
  background-color: var(--surface-container);
}

.logo {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: var(--weight-medium);
  line-height: 28px;
  letter-spacing: -0.5px;
}

.top__app-bar .logo {
  margin-inline: 4px auto;
}

.divider {
  height: 1px;
  max-width: 100%;
  background-color: var(--outline-variant);
}

.search__view-content .divider {
  margin-inline: 16px;
}

[data-theme="light"] .theme__btn .light-icon,
[data-theme="dark"] .theme__btn .dark-icon {
  display: none;
}

/*-----------------------------------*\
  #SCRIM
\*-----------------------------------*/

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

/*-----------------------------------*\
  #CURATED PHOTOS & POPULAR VIDEO
\*-----------------------------------*/

/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #PHOTO PAGE
\*-----------------------------------*/

/*-----------------------------------*\
  #PHOTO DETAIL PAGE
\*-----------------------------------*/

/*-----------------------------------*\
  #FAVORITE PAGE
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
